html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue_ultralight.eot?#iefix");
  src: url("../fonts/helvetica-neue_ultralight.eot?#iefix") format("eot"), url("../fonts/helvetica-neue_ultralight.woff") format("woff"), url("../fonts/helvetica-neue_ultralight.ttf") format("truetype"), url("../fonts/helvetica-neue_ultralight.svg#helvetica-neue_ultralight") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue_thin.eot?#iefix");
  src: url("../fonts/helvetica-neue_thin.eot?#iefix") format("eot"), url("../fonts/helvetica-neue_thin.woff") format("woff"), url("../fonts/helvetica-neue_thin.ttf") format("truetype"), url("../fonts/helvetica-neue_thin.svg#helvetica-neue_thin") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue_light.eot?#iefix");
  src: url("../fonts/helvetica-neue_light.eot?#iefix") format("eot"), url("../fonts/helvetica-neue_light.woff") format("woff"), url("../fonts/helvetica-neue_light.ttf") format("truetype"), url("../fonts/helvetica-neue_light.svg#helvetica-neue_light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue_roman.eot?#iefix");
  src: url("../fonts/helvetica-neue_roman.eot?#iefix") format("eot"), url("../fonts/helvetica-neue_roman.woff") format("woff"), url("../fonts/helvetica-neue_roman.ttf") format("truetype"), url("../fonts/helvetica-neue_roman.svg#helvetica-neue_roman") format("svg");
  font-weight: normal;
  font-style: normal;
}


.powerslide .hide-window {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


html, button, input, select, textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

img {
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #000;
}

body.wp-admin {
  background-color: #fff;
}

.powerslide {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 16;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  font-weight: 300;
}
.powerslide *, .powerslide *:before, .powerslide *:after {
  box-sizing: border-box;
}

::-moz-selection {
  background: #054124;
  text-shadow: none;
  color: #fff;
}

::-moz-selection {
  background: #054124;
  text-shadow: none;
  color: #fff;
}
::selection {
  background: #054124;
  text-shadow: none;
  color: #fff;
}

.powerslide {
  min-width: 960px;
}
.powerslide .button {
  position: relative;
  display: inline-block;
  border-radius: 2px;
  background: url("../img/button-bg.gif") 0 0 repeat-x;
  font-weight: 200;
  color: #584a4a;
  font-size: 0.9375em;
  line-height: 1em;
  padding: 0 35px;
  line-height: 37px;
  text-transform: uppercase;
  text-shadow: none;
}
/* line 57, ../../src/sass/partials/_init.sass */
.powerslide .button, .powerslide .button:visited, .powerslide .button:hover, .powerslide .button:active {
  text-decoration: none;
}
/* line 60, ../../src/sass/partials/_init.sass */
.powerslide .button:after {
  content: "";
  position: absolute;
  font-size: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 17px;
  background: url("../img/button-arrow.png") 0 47% no-repeat;
}
.powerslide .button:hover, .powerslide .button:active {
  color: #000;
}
.powerslide .s-table {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}
.powerslide .s-table-row {
  display: table-row;
  position: relative;
}
.powerslide .s-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.powerslide sub, .powerslide sup {
  font-size: 90%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.powerslide sup {
  top: -0.2em;
}
.powerslide sub {
  bottom: -0.25em;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  background-color: #000;
}
.powerslide, .powerslide .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.powerslide .slide {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #fff;
}
.powerslide .slide--0 {
  z-index: 99;
}
.powerslide .slide--split {
  padding: 0;
  position: absolute;
}
.powerslide .slide--split .slide--split__left, .powerslide .slide--split .slide--split__right {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
}
/* line 41, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide--split .slide--split__left .star, .powerslide .slide--split .slide--split__right .star {
  position: absolute;
  bottom: 30px;
  font-size: 0.625em;
  text-transform: uppercase;
}
/* line 47, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide--split .slide--split__left {
  left: 0;
  text-align: right;
}
/* line 51, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide--split .slide--split__left .star {
  left: 50px;
}
/* line 54, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide--split .slide--split__right {
  right: 0;
}
/* line 57, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide--split .slide--split__right .star {
  text-align: right;
  right: 40px;
}
/* line 62, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide-content {
  position: absolute;
  width: 1024px;
  left: 50%;
  height: 100%;
  margin-left: -512px;
  padding: 30px;
}
/* line 70, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide__content__left, .powerslide .slide__content__right {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 50px 30px 100px;
}
/* line 76, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide__content__left {
  text-align: right;
  left: 0;
}
/* line 80, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide__content__right {
  text-align: left;
  right: 0;
}
/* line 85, ../../src/sass/partials/slides/_slides.sass */
.powerslide h2 {
  display: inline-block;
  padding: 18px 0;
  width: 245px;
  text-align: center;
  font-size: 2.1875em;
  line-height: 1em;
  font-weight: 100;
  text-transform: uppercase;
  background: url(../img/title-flourish.png) 50% 100% no-repeat;
  background: url(../img/title-flourish.png) 50% 0 no-repeat, url(../img/title-flourish.png) 50% 100% no-repeat;
}
/* line 96, ../../src/sass/partials/slides/_slides.sass */
.powerslide h2 span {
  display: block;
  font-size: 0.57143em;
  line-height: 1em;
}
@media only screen and (max-width: 640px) {
  /* line 85, ../../src/sass/partials/slides/_slides.sass */
  .powerslide h2 {
    font-size: 1.875em;
  }
  /* line 102, ../../src/sass/partials/slides/_slides.sass */
  .powerslide h2 span {
    font-size: 0.66667em;
  }
}
/* line 105, ../../src/sass/partials/slides/_slides.sass */
.powerslide h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  text-transform: uppercase;
}
/* line 112, ../../src/sass/partials/slides/_slides.sass */
.powerslide .popin-button {
  display: inline-block;
  padding: 15px 22px 15px 45px;
  margin-top: 15px;
  background: url(../img/button-arrow.png) 24px 50% no-repeat #fff;
  text-decoration: none;
  font-size: 0.625em;
  color: #142916;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  font-weight: normal;
  text-shadow: none;
}
/* line 124, ../../src/sass/partials/slides/_slides.sass */
.powerslide .popin-button:hover, .powerslide .popin-button:active {
  color: #000;
}
/* line 131, ../../src/sass/partials/slides/_slides.sass */
.powerslide .slide--0, .powerslide .slide--2, .powerslide .slide--3, .powerslide .slide--4 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
/* line 139, ../../src/sass/partials/slides/_slides.sass */
.powerslide .window {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  color: #333;
  text-shadow: none;
}
/* line 150, ../../src/sass/partials/slides/_slides.sass */
.powerslide .container-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 155, ../../src/sass/partials/slides/_slides.sass */
.powerslide .popin-content {
  position: relative;
  display: inline-block;
  width: 960px;
  padding: 50px;
  background-color: #fff;
}
/* line 162, ../../src/sass/partials/slides/_slides.sass */
.powerslide .popin-close {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 10px;
  right: 10px;
  background: url(../img/popin/popin-close.png) 50% 50% no-repeat;
  text-indent: -9999px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
/* line 172, ../../src/sass/partials/slides/_slides.sass */
.powerslide .popin-close:hover, .powerslide .popin-close:active {
  opacity: 1;
}
/* line 175, ../../src/sass/partials/slides/_slides.sass */
.powerslide .popin-close-overay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 3, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  z-index: 10;
}
/* line 10, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav div {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 16, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav ul {
  display: table-cell;
  vertical-align: middle;
}
/* line 20, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav li {
  position: relative;
  height: 50px;
  text-transform: uppercase;
  font-size: 0.625em;
  font-weight: 300;
  letter-spacing: 1px;
}
/* line 28, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav a {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  margin: 15px 0;
  text-decoration: none;
  color: #fff;
}
/* line 37, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav a:before, .powerslide .slider__nav a:after {
  position: absolute;
  display: block;
  content: " ";
  top: 0;
  left: 0;
  border-radius: 50%;
}
/* line 45, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav a:before {
  height: 4px;
  width: 4px;
  background-color: #fff;
  margin: 8px;
}
/* line 51, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav a:after {
  height: 4px;
  width: 4px;
  padding: 8px;
  border: 2px solid #9a9b9a;
  opacity: 0;
  transition: opacity 0.3s;
}
/* line 60, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav a:hover:after, .powerslide .slider__nav a:active:after {
  opacity: 0.5;
}
/* line 63, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav a:hover span, .powerslide .slider__nav a:active span {
  display: block;
  opacity: 0.8;
}
/* line 67, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav span {
  position: absolute;
  display: none;
  top: 50%;
  right: 0;
  margin-top: -0.4em;
  line-height: 1em;
  padding-right: 30px;
  text-align: right;
  white-space: nowrap;
  display: none;
  transition: opacity 0.3s;
  opacity: 0;
}
/* line 83, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .slider__nav .is-current a:after {
  opacity: 1;
}
/* line 90, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .goto {
  z-index: 10;
}
/* line 93, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .goto--slide-next {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 50px;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  background: url("../img/next.png") 50% 50% no-repeat transparent;
  opacity: 0.8;
  transition: opacity 0.3s;
  text-indent: -9999px;
}
/* line 105, ../../src/sass/partials/slides/_slides-nav.sass */
.powerslide .goto--slide-next:hover, .powerslide .goto--slide-next:active {
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  /* line 93, ../../src/sass/partials/slides/_slides-nav.sass */
  .powerslide .goto--slide-next {
    background-image: url("../img/next-small.png");
    background-size: 32px 15px;
    bottom: 15px;
  }
}

/* line 3, ../../src/sass/partials/slides/_slide0.sass */
.powerslide .slide--0 {
  background: url("../img/slide0/bg-slide0.jpg") 50% 50% no-repeat #000;
  background-size: cover;
  text-transform: uppercase;
}
/* line 8, ../../src/sass/partials/slides/_slide0.sass */
.powerslide .slide--0 .logo {
  position: absolute;
  margin: 20px 0 80px;
  padding: 0;
  background-image: none;
}
/* line 14, ../../src/sass/partials/slides/_slide0.sass */
.powerslide .slide--0 .slide__content__right {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 640px) {
  /* line 14, ../../src/sass/partials/slides/_slide0.sass */
  .powerslide .slide--0 .slide__content__right {
    padding-top: 20px;
  }
}
/* line 21, ../../src/sass/partials/slides/_slide0.sass */
.powerslide .slide--0 h1 {
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1em;
  font-weight: 300;
  color: #ecdba1;
  letter-spacing: 0.04em;
}
/* line 30, ../../src/sass/partials/slides/_slide0.sass */
.powerslide .slide--0 h1 .img-powercell {
  margin: -17px 0 -7px -16px;
}
/* line 33, ../../src/sass/partials/slides/_slide0.sass */
.powerslide .slide--0 h3 {
  margin-bottom: 10px;
  font-size: 1.375em;
  line-height: 1.45833em;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 40, ../../src/sass/partials/slides/_slide0.sass */
.powerslide .slide--0 .button {
  margin-top: 30px;
}

/* line 3, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 {
  color: #525252;
  text-transform: uppercase;
}
/* line 7, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 .slide--split__left, .powerslide .slide--1 .slide--split__right {
  background: 50% 50% no-repeat #000;
  background-size: cover;
}
/* line 11, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 .slide--split__left .star, .powerslide .slide--1 .slide--split__right .star {
  position: absolute;
  bottom: 6px;
  right: 15px;
  text-transform: none;
}
/* line 17, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 .slide--split__left {
  background-image: url("../img/slide1/slide1-left.jpg");
}
/* line 20, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 .slide--split__right {
  background-image: url("../img/slide1/slide1-right.jpg");
}
/* line 23, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 .s-table-cell,.powerslide .slide--2 .s-table-cell {
  padding: 20px 80px;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  /* line 23, ../../src/sass/partials/slides/_slide1.sass */
  .powerslide .slide--1 .s-table-cell {
    padding: 20px 50px;
  }
}
/* line 29, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 .box,.powerslide .slide--2 .box {
  position: relative;
  max-width: 700px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
}
/* line 35, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 .container-box {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
}
/* line 39, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 .container-box .s-table {
  padding: 0;
}
/* line 42, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 .container-box .s-table-cell {
  padding: 30px;
}
/* line 45, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 h2 {
  width: 100%;
  color: #5a8a66;
}
/* line 49, ../../src/sass/partials/slides/_slide1.sass */
.powerslide .slide--1 h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  background: url(../img/separator.gif) 50% 100% no-repeat;
}

/* line 6, ../../src/sass/partials/slides/_slide2.sass */
.powerslide .slide--2 .slide--split__left, .powerslide .slide--2 .slide--split__right {
  background: no-repeat #000;
  background-size: cover;
  padding: 40px;
}
/* line 11, ../../src/sass/partials/slides/_slide2.sass */
.powerslide .slide--2 .slide--split__left {
  background-image: url("../img/slide2/slide2-left.jpg");
  background-position: 50% 100%;
}
/* line 15, ../../src/sass/partials/slides/_slide2.sass */
.powerslide .slide--2 .slide--split__right {
  background-image: url("../img/slide2/slide2-right.jpg");
  background-position: 50% 0;
}
/* line 20, ../../src/sass/partials/slides/_slide2.sass */
.powerslide .slide--2 h2 {
  margin-bottom: 55px;
}
@media only screen and (max-width: 640px) {
  /* line 20, ../../src/sass/partials/slides/_slide2.sass */
  .powerslide .slide--2 h2 {
    margin-bottom: 30px;
  }
}
/* line 25, ../../src/sass/partials/slides/_slide2.sass */
.powerslide .slide--2 h3 {
  margin-bottom: 15px;
}
/* line 28, ../../src/sass/partials/slides/_slide2.sass */
.powerslide .slide--2 p {
  padding: 7px;
}
/* line 30, ../../src/sass/partials/slides/_slide2.sass */
.powerslide .slide--2 p strong {
  font-weight: normal;
}

/* line 6, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 .slide--split__left, .powerslide .slide--3 .slide--split__right {
  background: no-repeat #000;
  background-size: cover;
  padding: 40px;
}
/* line 11, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 .slide--split__left {
  background-image: url("../img/slide3/slide3-left.jpg");
  background-position: 50% 0;
}
/* line 15, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 .slide--split__right {
  background-image: url("../img/slide3/slide3-right.jpg");
  background-position: 50% 0;
}
/* line 20, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 h2 {
  margin-bottom: 55px;
}
@media only screen and (max-width: 640px) {
  /* line 20, ../../src/sass/partials/slides/_slide3.sass */
  .powerslide .slide--3 h2 {
    margin-bottom: 30px;
  }
}
/* line 25, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 h3 {
  font-size: 1.25em;
  margin-bottom: 20px;
}
/* line 29, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 h3 img {
  display: inline-block;
  margin-bottom: 10px;
}
@media only screen and (max-width: 640px) {
  /* line 29, ../../src/sass/partials/slides/_slide3.sass */
  .powerslide .slide--3 h3 img {
    max-width: 180px;
    height: auto;
  }
}
/* line 36, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 h3 span {
  display: block;
  padding: 10px 0;
  color: #ecdba1;
  letter-spacing: 0.05em;
  font-size: 1.75em;
  font-weight: 300;
}
@media only screen and (max-width: 640px) {
  /* line 36, ../../src/sass/partials/slides/_slide3.sass */
  .powerslide .slide--3 h3 span {
    font-size: 1.125em;
    padding: 0;
  }
}
/* line 47, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 h3 .logo-product {
  padding: 0;
}
/* line 50, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 h3 .logo-skinrehab {
  margin: -5px 0 0 -4px;
}
/* line 53, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 p {
  font-size: 1.125em;
}
/* line 55, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 p em {
  display: block;
  font-size: 1.11111em;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 61, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 ul {
  margin-top: 20px;
}
/* line 64, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 li {
  background-image: url("../img/list.gif");
  background-repeat: no-repeat;
}
/* line 69, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 .slide--split__left li {
  padding-right: 15px;
  background-position: 100% 60%;
}
/* line 74, ../../src/sass/partials/slides/_slide3.sass */
.powerslide .slide--3 .slide--split__right li {
  padding-left: 15px;
  background-position: 0 60%;
}

/* line 4, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .slide--4 {
  text-transform: uppercase;
}
/* line 7, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .slide--4 .slide--split__left, .powerslide .slide--4 .slide--split__right {
  background: no-repeat #000;
  background-size: cover;
  padding: 40px;
}
/* line 12, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .slide--4 .slide--split__left {
  background-image: url("../img/slide4/slide4-left.jpg");
  background-position: 100% 50%;
}
/* line 16, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .slide--4 .slide--split__right {
  background-image: url("../img/slide4/slide4-right.jpg");
  background-position: 0 50%;
}
/* line 20, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .slide--4 h2 {
  margin-bottom: 55px;
}
@media only screen and (max-width: 640px) {
  /* line 20, ../../src/sass/partials/slides/_slide4.sass */
  .powerslide .slide--4 h2 {
    margin-bottom: 30px;
  }
}
/* line 24, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .slide--4 h3 {
  font-size: 1.25em;
  margin-bottom: 30px;
}
@media only screen and (max-width: 640px) {
  /* line 24, ../../src/sass/partials/slides/_slide4.sass */
  .powerslide .slide--4 h3 {
    margin-bottom: 20px;
  }
}
/* line 29, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .slide--4 .big {
  margin-bottom: 30px;
  font-size: 1.125em;
  font-weight: 100;
}
@media only screen and (max-width: 640px) {
  /* line 29, ../../src/sass/partials/slides/_slide4.sass */
  .powerslide .slide--4 .big {
    margin-bottom: 20px;
  }
}
/* line 35, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .slide--4 .big strong {
  font-weight: 400;
}
/* line 39, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .window {
  text-align: center;
}
/* line 42, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .window h3 {
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 1.625em;
  text-transform: uppercase;
}
/* line 48, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .window h3 span {
  display: block;
  margin-top: 7px;
  font-size: 0.69231em;
  line-height: 1.1em;
}
/* line 57, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 ul, .powerslide .popin-slide4-2 ul {
  overflow: hidden;
  padding-bottom: 20px;
}
/* line 61, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 li, .powerslide .popin-slide4-2 li {
  position: relative;
  float: left;
  width: 33%;
}
/* line 66, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 h4, .powerslide .popin-slide4-2 h4 {
  font-weight: 100;
  font-size: 0.8125em;
  line-height: 1em;
  font-weight: 200;
}
/* line 72, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 h4 span, .powerslide .popin-slide4-2 h4 span {
  display: block;
  margin-bottom: 17px;
  font-size: 3.75em;
  line-height: 1em;
  font-weight: 100;
  color: #6fbe97;
}
/* line 80, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 .note, .powerslide .popin-slide4-2 .note {
  position: absolute;
  top: 365px;
  width: 100%;
  font-size: 0.6875em;
  font-weight: 200;
  text-transform: none;
  font-style: italic;
}
/* line 92, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 li {
  width: 50%;
  padding: 5px 2px;
  overflow: hidden;
}
/* line 97, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 li .graph__content {
  overflow: hidden;
}
/* line 101, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 li:nth-child(even) .graph__content {
  float: left;
}
/* line 105, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 li:nth-child(odd) .graph__content {
  float: right;
}
/* line 108, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 li h4, .powerslide .popin-slide4-1 li img {
  display: block;
  float: left;
}
/* line 112, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 li h4 {
  text-align: center;
  width: 10.76923em;
}
/* line 116, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-1 li h4 span {
  padding-top: 20px;
}
/* line 123, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-2 li {
  width: 33%;
  padding: 0 15px;
}
/* line 126, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-2 li:first-of-type {
  padding-left: 0;
}
/* line 129, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-2 li:last-of-type {
  padding-right: 0;
}
/* line 132, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-2 h3 {
  margin-bottom: 40px;
}
/* line 135, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-2 h4 {
  margin-bottom: 35px;
}
/* line 139, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .popin-slide4-2 .graph1 img {
  display: inline-block;
  margin-top: 15px;
}
/* line 144, ../../src/sass/partials/slides/_slide4.sass */
.powerslide .note-window {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 0.6875em;
  font-weight: 200;
  text-transform: none;
  font-style: italic;
  color: #aaa;
}

/* line 4, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 {
  background: url("../img/slide5/bg-slide5.jpg") 50% 50% no-repeat;
  background-size: cover;
}
/* line 8, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 h2 {
  width: auto;
  margin-bottom: 10px;
  padding: 0;
  font-size: 2.25em;
  line-height: 1em;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  background-image: none;
  color: #ecdba1;
}
/* line 19, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 h2 img {
  width: 280px;
  height: auto;
}
/* line 23, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 h3 {
  padding-bottom: 18px;
  margin-bottom: 10px;
  background: url(../img/title-flourish.png) 50% 100% no-repeat;
  font-size: 1.0625em;
  text-transform: uppercase;
}
/* line 31, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .header, .powerslide .slide--5 .content {
  text-align: center;
  position: relative;
}
/* line 35, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .header {
  height: 15%;
  padding-top: 10%;
  padding-bottom: 5%;
}
/* line 40, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .content {
  height: 55%;
  padding-top: 5%;
  padding-bottom: 10%;
  background: url("../img/slide5/bg-list-products.jpg") 0 100% no-repeat;
  background-size: 100% 40%;
}
/* line 47, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products {
  position: relative;
  text-align: center;
}
/* line 51, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products li {
  position: relative;
  display: inline-block;
  padding: 25px 20px 0;
  background-position: 50% 0;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}
@media only screen and (max-width: 1110px) {
  /* line 51, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-products li {
    padding: 25px 8px 0;
  }
}
/* line 62, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products img {
  position: absolute;
  bottom: 32px;
  left: 50%;
}
@media only screen and (max-width: 640px) {
  /* line 62, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-products img {
    max-height: 150px;
    width: auto;
    bottom: 67px;
  }
}
@media only screen and (max-height: 670px) {
  /* line 62, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-products img {
    max-height: 150px;
    width: auto;
    bottom: 67px;
  }
}
/* line 75, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .powercell-product__header {
  position: absolute;
  top: 20px;
  left: 0;
  left: 50%;
  text-align: center;
}
/* line 82, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .powercell-product__header div {
  white-space: nowrap;
  position: relative;
  margin-left: -100%;
}
/* line 87, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .powercell-product__header .liseret {
  display: inline-block;
  height: 0.29em;
  width: 100px;
  border-top: 1px solid #998a66;
}
/* line 93, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .powercell-product__header .liseret-hidden {
  border-top: 0;
}
/* line 96, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .product {
  display: block;
}
/* line 98, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .product, .powerslide .slide--5 .powercell-products .product:visited, .powerslide .slide--5 .powercell-products .product:hover, .powerslide .slide--5 .powercell-products .product:active {
  color: #fff;
  text-decoration: none;
}
/* line 102, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .product-role, .powerslide .slide--5 .powercell-products .product-time {
  font-size: 0.75em;
  color: #998a66;
}
/* line 106, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .product-role {
  display: inline-block;
}
/* line 109, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .product-time {
  display: block;
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
}
/* line 117, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .product-role {
  text-transform: uppercase;
}
/* line 120, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .product-image {
  display: block;
}
/* line 123, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .product-name {
  padding-top: 435px;
  font-size: 0.625em;
  text-transform: uppercase;
}
@media only screen and (max-width: 640px) {
  /* line 123, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-products .product-name {
    padding-top: 175px;
  }
}
@media only screen and (max-height: 670px) {
  /* line 123, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-products .product-name {
    padding-top: 175px;
  }
}
/* line 133, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-products .buy-button {
  display: inline-block;
  margin: 15px 10px 10px;
}
/* line 139, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-lotion, .powerslide .slide--5 .powercell-eyecare {
  background-image: url("../img/slide5/night-day.png");
}
/* line 143, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-serum, .powerslide .slide--5 .powercell-cream, .powerslide .slide--5 .powercell-mask, .powerslide .slide--5 .powercell-fundation {
  background-image: url("../img/slide5/day.png");
}
/* line 147, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-slinkrehab {
  background-image: url("../img/slide5/night.png");
}
/* line 151, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-lotion {
  min-width: 93px;
}
/* line 153, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-lotion img {
  margin-left: -46.5px;
}
@media only screen and (max-width: 640px) {
  /* line 153, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-lotion img {
    max-height: 170px;
    margin-left: -16.5px;
  }
}
@media only screen and (max-height: 670px) {
  /* line 153, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-lotion img {
    max-height: 170px;
    margin-left: -16.5px;
  }
}
/* line 162, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-serum {
  min-width: 98px;
}
/* line 164, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-serum img {
  margin-left: -49px;
}
@media only screen and (max-width: 640px) {
  /* line 164, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-serum img {
    max-height: 170px;
    margin-left: -17.5px;
  }
}
@media only screen and (max-height: 670px) {
  /* line 164, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-serum img {
    max-height: 170px;
    margin-left: -17.5px;
  }
}
/* line 173, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-cream {
  min-width: 154px;
}
/* line 175, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-cream img {
  margin-left: -77px;
}
@media only screen and (max-width: 640px) {
  /* line 175, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-cream img {
    max-height: 95px;
    margin-left: -29.5px;
  }
}
@media only screen and (max-height: 670px) {
  /* line 175, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-cream img {
    max-height: 95px;
    margin-left: -29.5px;
  }
}
/* line 184, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-slinkrehab {
  min-width: 99px;
}
/* line 186, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-slinkrehab img {
  margin-left: -49.5px;
}
@media only screen and (max-width: 640px) {
  /* line 186, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-slinkrehab img {
    max-height: 170px;
    margin-left: -19.5px;
  }
}
@media only screen and (max-height: 670px) {
  /* line 186, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-slinkrehab img {
    max-height: 170px;
    margin-left: -19.5px;
  }
}
/* line 195, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-eyecare {
  min-width: 56px;
}
/* line 197, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-eyecare img {
  margin-left: -28px;
}
@media only screen and (max-width: 640px) {
  /* line 197, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-eyecare img {
    max-height: 170px;
    margin-left: -12px;
  }
}
@media only screen and (max-height: 670px) {
  /* line 197, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-eyecare img {
    max-height: 170px;
    margin-left: -12px;
  }
}
/* line 206, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-mask {
  min-width: 106px;
}
/* line 208, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-mask img {
  margin-left: -53px;
}
@media only screen and (max-width: 640px) {
  /* line 208, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-mask img {
    max-height: 150px;
    margin-left: -22px;
  }
}
@media only screen and (max-height: 670px) {
  /* line 208, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-mask img {
    max-height: 150px;
    margin-left: -22px;
  }
}
/* line 217, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-fundation {
  min-width: 97px;
}
/* line 219, ../../src/sass/partials/slides/_slide5.sass */
.powerslide .slide--5 .powercell-fundation img {
  margin-left: -48.5px;
}
@media only screen and (max-width: 640px) {
  /* line 219, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-fundation img {
    max-height: 150px;
    margin-left: -22px;
  }
}
@media only screen and (max-height: 670px) {
  /* line 219, ../../src/sass/partials/slides/_slide5.sass */
  .powerslide .slide--5 .powercell-fundation img {
    max-height: 150px;
    margin-left: -22px;
  }
}
