html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue_ultralight.eot?#iefix");
  src: url("../fonts/helvetica-neue_ultralight.eot?#iefix") format("eot"), url("../fonts/helvetica-neue_ultralight.woff") format("woff"), url("../fonts/helvetica-neue_ultralight.ttf") format("truetype"), url("../fonts/helvetica-neue_ultralight.svg#helvetica-neue_ultralight") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue_thin.eot?#iefix");
  src: url("../fonts/helvetica-neue_thin.eot?#iefix") format("eot"), url("../fonts/helvetica-neue_thin.woff") format("woff"), url("../fonts/helvetica-neue_thin.ttf") format("truetype"), url("../fonts/helvetica-neue_thin.svg#helvetica-neue_thin") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue_light.eot?#iefix");
  src: url("../fonts/helvetica-neue_light.eot?#iefix") format("eot"), url("../fonts/helvetica-neue_light.woff") format("woff"), url("../fonts/helvetica-neue_light.ttf") format("truetype"), url("../fonts/helvetica-neue_light.svg#helvetica-neue_light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue_roman.eot?#iefix");
  src: url("../fonts/helvetica-neue_roman.eot?#iefix") format("eot"), url("../fonts/helvetica-neue_roman.woff") format("woff"), url("../fonts/helvetica-neue_roman.ttf") format("truetype"), url("../fonts/helvetica-neue_roman.svg#helvetica-neue_roman") format("svg");
  font-weight: normal;
  font-style: normal;
}


.velocityslide .hide-window {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


html, button, input, select, textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

img {
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #000;
}

body.wp-admin {
  background-color: #fff;
}

.velocityslide {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 16;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  font-weight: 300;
}
.velocityslide *, .velocityslide *:before, .velocityslide *:after {
  box-sizing: border-box;
}

::-moz-selection {
  background: #054124;
  text-shadow: none;
  color: #fff;
}

::-moz-selection {
  background: #054124;
  text-shadow: none;
  color: #fff;
}

::selection {
  background: #054124;
  text-shadow: none;
  color: #fff;
}

.velocityslide {
  min-width: 960px;
}

.velocityslide .button {
  position: relative;
  display: inline-block;
  border-radius: 2px;
  background: url("../img/button-bg.gif") 0 0 repeat-x;
  font-weight: 200;
  color: #584a4a;
  font-size: 0.9375em;
  line-height: 1em;
  padding: 0 35px;
  line-height: 37px;
  text-transform: uppercase;
  text-shadow: none;
}

.velocityslide .button, .velocityslide .button:visited, .velocityslide .button:hover, .velocityslide .button:active {
  text-decoration: none;
}

.velocityslide .button:after {
  content: "";
  position: absolute;
  font-size: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 17px;
  background: url("../img/button-arrow.png") 0 47% no-repeat;
}

.velocityslide .button:hover, .velocityslide .button:active {
  color: #000;
}

.velocityslide .panel {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}

.velocityslide .panel-container {
  display: table-cell;
  vertical-align: middle;
}

.velocityslide sub, .velocityslide sup {
  font-size: 90%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.velocityslide sup {
  top: -0.2em;
}

.velocityslide sub {
  bottom: -0.25em;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  background-color: #000;
}

.velocityslide, .velocityslide .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.velocityslide .page {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #fff;
}

.velocityslide .page-homepage {
  z-index: 99;
}

.velocityslide .half-page {
  padding: 0;
  position: absolute;
}

.velocityslide .half-page .half-page-left, .velocityslide .half-page .half-page-right {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
}

.velocityslide .half-page .half-page-left .star, .velocityslide .half-page .half-page-right .star {
  position: absolute;
  bottom: 30px;
  font-size: 0.625em;
  text-transform: uppercase;
}

.velocityslide .half-page .half-page-left {
  left: 0;
  text-align: right;
}

.velocityslide .half-page .half-page-left .star {
  left: 50px;
}

.velocityslide .half-page .half-page-right {
  right: 0;
}

.velocityslide .half-page .half-page-right .star {
  text-align: right;
  right: 40px;
}

.velocityslide .slide-content {
  position: absolute;
  width: 1024px;
  left: 50%;
  height: 100%;
  margin-left: -512px;
  padding: 30px;
}

.velocityslide .slide__content__left, .velocityslide .page-right {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 50px 30px 100px;
}

.velocityslide .slide__content__left {
  text-align: right;
  left: 0;
}

.velocityslide .page-right {
  text-align: left;
  right: 0;
}

.velocityslide h2 {
  display: inline-block;
  padding: 18px 0;
  width: 245px;
  text-align: center;
  font-size: 2.1875em;
  line-height: 1em;
  font-weight: 100;
  text-transform: uppercase;
  background: url(../img/title-flourish.png) 50% 100% no-repeat;
  background: url(../img/title-flourish.png) 50% 0 no-repeat, url(../img/title-flourish.png) 50% 100% no-repeat;
}

.velocityslide h2 span {
  display: block;
  font-size: 0.57143em;
  line-height: 1em;
}
@media only screen and (max-width: 640px) {

  .velocityslide h2 {
    font-size: 1.875em;
  }

  .velocityslide h2 span {
    font-size: 0.66667em;
  }
}

.velocityslide h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.velocityslide .window-button {
  display: inline-block;
  padding: 15px 22px 15px 45px;
  margin-top: 15px;
  background: url(../img/button-arrow.png) 24px 50% no-repeat #fff;
  text-decoration: none;
  font-size: 0.625em;
  color: #142916;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  font-weight: normal;
  text-shadow: none;
}

.velocityslide .window-button:hover, .velocityslide .window-button:active {
  color: #000;
}

.velocityslide .page-homepage, .velocityslide .page-service, .velocityslide .page-portfolio, .velocityslide .page-article {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.velocityslide .window {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  color: #333;
  text-shadow: none;
}

.velocityslide .container-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.velocityslide .popin-content {
  position: relative;
  display: inline-block;
  width: 960px;
  padding: 50px;
  background-color: #fff;
}

.velocityslide .popin-close {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 10px;
  right: 10px;
  background: url(../img/popin/popin-close.png) 50% 50% no-repeat;
  text-indent: -9999px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.velocityslide .popin-close:hover, .velocityslide .popin-close:active {
  opacity: 1;
}

.velocityslide .popin-close-overay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.velocityslide .slider__nav {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  z-index: 10;
}

.velocityslide .slider__nav div {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}

.velocityslide .slider__nav ul {
  display: table-cell;
  vertical-align: middle;
}

.velocityslide .slider__nav li {
  position: relative;
  height: 50px;
  text-transform: uppercase;
  font-size: 0.625em;
  font-weight: 300;
  letter-spacing: 1px;
}

.velocityslide .slider__nav a {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  margin: 15px 0;
  text-decoration: none;
  color: #fff;
}

.velocityslide .slider__nav a:before, .velocityslide .slider__nav a:after {
  position: absolute;
  display: block;
  content: " ";
  top: 0;
  left: 0;
  border-radius: 50%;
}

.velocityslide .slider__nav a:before {
  height: 4px;
  width: 4px;
  background-color: #fff;
  margin: 8px;
}

.velocityslide .slider__nav a:after {
  height: 4px;
  width: 4px;
  padding: 8px;
  border: 2px solid #9a9b9a;
  opacity: 0;
  transition: opacity 0.3s;
}

.velocityslide .slider__nav a:hover:after, .velocityslide .slider__nav a:active:after {
  opacity: 0.5;
}

.velocityslide .slider__nav a:hover span, .velocityslide .slider__nav a:active span {
  display: block;
  opacity: 0.8;
}

.velocityslide .slider__nav span {
  position: absolute;
  display: none;
  top: 50%;
  right: 0;
  margin-top: -0.4em;
  line-height: 1em;
  padding-right: 30px;
  text-align: right;
  white-space: nowrap;
  display: none;
  transition: opacity 0.3s;
  opacity: 0;
}

.velocityslide .slider__nav .is-current a:after {
  opacity: 1;
}

.velocityslide .goto {
  z-index: 10;
}

.velocityslide .goto--slide-next {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 50px;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  background: url("../img/next.png") 50% 50% no-repeat transparent;
  opacity: 0.8;
  transition: opacity 0.3s;
  text-indent: -9999px;
}

.velocityslide .goto--slide-next:hover, .velocityslide .goto--slide-next:active {
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  .velocityslide .goto--slide-next {
    background-image: url("../img/next-small.png");
    background-size: 32px 15px;
    bottom: 15px;
  }
}

.velocityslide .page-homepage {
  background: url("../img/slide0/bg-slide0.jpg") 50% 50% no-repeat #000;
  background-size: cover;
  text-transform: uppercase;
}

.velocityslide .page-homepage .logo {
  position: absolute;
  margin: 20px 0 80px;
  padding: 0;
  background-image: none;
}

.velocityslide .page-homepage .page-right {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 640px) {
  .velocityslide .page-homepage .page-right {
    padding-top: 20px;
  }
}

.velocityslide .page-homepage h1 {
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1em;
  font-weight: 300;
  color: #ecdba1;
  letter-spacing: 0.04em;
}

.velocityslide .page-homepage h1 .img-powercell {
  margin: -17px 0 -7px -16px;
}

.velocityslide .page-homepage h3 {
  margin-bottom: 10px;
  font-size: 1.375em;
  line-height: 1.45833em;
  text-transform: uppercase;
  font-weight: normal;
}

.velocityslide .page-homepage .button {
  margin-top: 30px;
}

.velocityslide .page-presentation {
  color: #525252;
  text-transform: uppercase;
}

.velocityslide .page-presentation .half-page-left, .velocityslide .page-presentation .half-page-right {
  background: 50% 50% no-repeat #000;
  background-size: cover;
}

.velocityslide .page-presentation .half-page-left .star, .velocityslide .page-presentation .half-page-right .star {
  position: absolute;
  bottom: 6px;
  right: 15px;
  text-transform: none;
}

.velocityslide .page-presentation .half-page-left {
  background-image: url("../img/slide1/slide1-left.jpg");
}

.velocityslide .page-presentation .half-page-right {
  background-image: url("../img/slide1/slide1-right.jpg");
}

.velocityslide .page-presentation .panel-container,.velocityslide .page-service .panel-container {
  padding: 20px 80px;
  text-align: center;
}

@media only screen and (max-width: 640px) {

  .velocityslide .page-presentation .panel-container {
    padding: 20px 50px;
  }
}

.velocityslide .page-presentation .box,.velocityslide .page-service .box {
  position: relative;
  max-width: 700px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.velocityslide .page-presentation .container-box {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
}

.velocityslide .page-presentation .container-box .panel {
  padding: 0;
}

.velocityslide .page-presentation .container-box .panel-container {
  padding: 30px;
}

.velocityslide .page-presentation h2 {
  width: 100%;
  color: #5a8a66;
}

.velocityslide .page-presentation h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  background: url(../img/separator.gif) 50% 100% no-repeat;
}

.velocityslide .page-service .half-page-left, .velocityslide .page-service .half-page-right {
  background: no-repeat #000;
  background-size: cover;
  padding: 40px;
}

.velocityslide .page-service .half-page-left {
  background-image: url("../img/slide2/slide2-left.jpg");
  background-position: 50% 100%;
}

.velocityslide .page-service .half-page-right {
  background-image: url("../img/slide2/slide2-right.jpg");
  background-position: 50% 0;
}

.velocityslide .page-service h2 {
  margin-bottom: 55px;
}

@media only screen and (max-width: 640px) {

  .velocityslide .page-service h2 {
    margin-bottom: 30px;
  }
}

.velocityslide .page-service h3 {
  margin-bottom: 15px;
}

.velocityslide .page-service p {
  padding: 7px;
}

.velocityslide .page-service p strong {
  font-weight: normal;
}


.velocityslide .page-portfolio .half-page-left, .velocityslide .page-portfolio .half-page-right {
  background: no-repeat #000;
  background-size: cover;
  padding: 40px;
}

.velocityslide .page-portfolio .half-page-left {
  background-image: url("../img/slide3/slide3-left.jpg");
  background-position: 50% 0;
}

.velocityslide .page-portfolio .half-page-right {
  background-image: url("../img/slide3/slide3-right.jpg");
  background-position: 50% 0;
}

.velocityslide .page-portfolio h2 {
  margin-bottom: 55px;
}

@media only screen and (max-width: 640px) {

  .velocityslide .page-portfolio h2 {
    margin-bottom: 30px;
  }
}

.velocityslide .page-portfolio h3 {
  font-size: 1.25em;
  margin-bottom: 20px;
}

.velocityslide .page-portfolio h3 img {
  display: inline-block;
  margin-bottom: 10px;
}
@media only screen and (max-width: 640px) {

  .velocityslide .page-portfolio h3 img {
    max-width: 180px;
    height: auto;
  }
}

.velocityslide .page-portfolio h3 span {
  display: block;
  padding: 10px 0;
  color: #ecdba1;
  letter-spacing: 0.05em;
  font-size: 1.75em;
  font-weight: 300;
}
@media only screen and (max-width: 640px) {

  .velocityslide .page-portfolio h3 span {
    font-size: 1.125em;
    padding: 0;
  }
}

.velocityslide .page-portfolio h3 .logo-product {
  padding: 0;
}

.velocityslide .page-portfolio h3 .logo-skinrehab {
  margin: -5px 0 0 -4px;
}

.velocityslide .page-portfolio p {
  font-size: 1.125em;
}

.velocityslide .page-portfolio p em {
  display: block;
  font-size: 1.11111em;
  font-weight: normal;
  text-transform: uppercase;
}

.velocityslide .page-portfolio ul {
  margin-top: 20px;
}

.velocityslide .page-portfolio li {
  background-image: url("../img/list.gif");
  background-repeat: no-repeat;
}

.velocityslide .page-portfolio .half-page-left li {
  padding-right: 15px;
  background-position: 100% 60%;
}

.velocityslide .page-portfolio .half-page-right li {
  padding-left: 15px;
  background-position: 0 60%;
}


.velocityslide .page-article {
  text-transform: uppercase;
}

.velocityslide .page-article .half-page-left, .velocityslide .page-article .half-page-right {
  background: no-repeat #000;
  background-size: cover;
  padding: 40px;
}

.velocityslide .page-article .half-page-left {
  background-image: url("../img/slide4/slide4-left.jpg");
  background-position: 100% 50%;
}

.velocityslide .page-article .half-page-right {
  background-image: url("../img/slide4/slide4-right.jpg");
  background-position: 0 50%;
}

.velocityslide .page-article h2 {
  margin-bottom: 55px;
}
@media only screen and (max-width: 640px) {

  .velocityslide .page-article h2 {
    margin-bottom: 30px;
  }
}

.velocityslide .page-article h3 {
  font-size: 1.25em;
  margin-bottom: 30px;
}
@media only screen and (max-width: 640px) {

  .velocityslide .page-article h3 {
    margin-bottom: 20px;
  }
}

.velocityslide .page-article .big {
  margin-bottom: 30px;
  font-size: 1.125em;
  font-weight: 100;
}
@media only screen and (max-width: 640px) {

  .velocityslide .page-article .big {
    margin-bottom: 20px;
  }
}

.velocityslide .page-article .big strong {
  font-weight: 400;
}

.velocityslide .window {
  text-align: center;
}

.velocityslide .window h3 {
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 1.625em;
  text-transform: uppercase;
}

.velocityslide .window h3 span {
  display: block;
  margin-top: 7px;
  font-size: 0.69231em;
  line-height: 1.1em;
}

.velocityslide .popin-slide4-1 ul, .velocityslide .popin-slide4-2 ul {
  overflow: hidden;
  padding-bottom: 20px;
}

.velocityslide .popin-slide4-1 li, .velocityslide .popin-slide4-2 li {
  position: relative;
  float: left;
  width: 33%;
}

.velocityslide .popin-slide4-1 h4, .velocityslide .popin-slide4-2 h4 {
  font-weight: 100;
  font-size: 0.8125em;
  line-height: 1em;
  font-weight: 200;
}

.velocityslide .popin-slide4-1 h4 span, .velocityslide .popin-slide4-2 h4 span {
  display: block;
  margin-bottom: 17px;
  font-size: 3.75em;
  line-height: 1em;
  font-weight: 100;
  color: #6fbe97;
}

.velocityslide .popin-slide4-1 .note, .velocityslide .popin-slide4-2 .note {
  position: absolute;
  top: 365px;
  width: 100%;
  font-size: 0.6875em;
  font-weight: 200;
  text-transform: none;
  font-style: italic;
}

.velocityslide .popin-slide4-1 li {
  width: 50%;
  padding: 5px 2px;
  overflow: hidden;
}

.velocityslide .popin-slide4-1 li .graph__content {
  overflow: hidden;
}

.velocityslide .popin-slide4-1 li:nth-child(even) .graph__content {
  float: left;
}

.velocityslide .popin-slide4-1 li:nth-child(odd) .graph__content {
  float: right;
}

.velocityslide .popin-slide4-1 li h4, .velocityslide .popin-slide4-1 li img {
  display: block;
  float: left;
}

.velocityslide .popin-slide4-1 li h4 {
  text-align: center;
  width: 10.76923em;
}

.velocityslide .popin-slide4-1 li h4 span {
  padding-top: 20px;
}

.velocityslide .popin-slide4-2 li {
  width: 33%;
  padding: 0 15px;
}

.velocityslide .popin-slide4-2 li:first-of-type {
  padding-left: 0;
}

.velocityslide .popin-slide4-2 li:last-of-type {
  padding-right: 0;
}

.velocityslide .popin-slide4-2 h3 {
  margin-bottom: 40px;
}

.velocityslide .popin-slide4-2 h4 {
  margin-bottom: 35px;
}

.velocityslide .popin-slide4-2 .graph1 img {
  display: inline-block;
  margin-top: 15px;
}

.velocityslide .note-window {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 0.6875em;
  font-weight: 200;
  text-transform: none;
  font-style: italic;
  color: #aaa;
}


.velocityslide .page-contact {
  background: url("../img/slide5/bg-slide5.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.velocityslide .page-contact h2 {
  width: auto;
  margin-bottom: 10px;
  padding: 0;
  font-size: 2.25em;
  line-height: 1em;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  background-image: none;
  color: #ecdba1;
}

.velocityslide .page-contact h2 img {
  width: 280px;
  height: auto;
}

.velocityslide .page-contact h3 {
  padding-bottom: 18px;
  margin-bottom: 10px;
  background: url(../img/title-flourish.png) 50% 100% no-repeat;
  font-size: 1.0625em;
  text-transform: uppercase;
}

.velocityslide .page-contact .header, .velocityslide .page-contact .content {
  text-align: center;
  position: relative;
}

.velocityslide .page-contact .header {
  height: 15%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.velocityslide .page-contact .content {
  height: 55%;
  padding-top: 5%;
  padding-bottom: 10%;
  background: url("../img/slide5/bg-list-products.jpg") 0 100% no-repeat;
  background-size: 100% 40%;
}

.velocityslide .page-contact .powercell-products {
  position: relative;
  text-align: center;
}

.velocityslide .page-contact .powercell-products li {
  position: relative;
  display: inline-block;
  padding: 25px 20px 0;
  background-position: 50% 0;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}
@media only screen and (max-width: 1110px) {

  .velocityslide .page-contact .powercell-products li {
    padding: 25px 8px 0;
  }
}

.velocityslide .page-contact .powercell-products img {
  position: absolute;
  bottom: 32px;
  left: 50%;
}
@media only screen and (max-width: 640px) {

  .velocityslide .page-contact .powercell-products img {
    max-height: 150px;
    width: auto;
    bottom: 67px;
  }
}
@media only screen and (max-height: 670px) {

  .velocityslide .page-contact .powercell-products img {
    max-height: 150px;
    width: auto;
    bottom: 67px;
  }
}

.velocityslide .page-contact .powercell-products .powercell-product__header {
  position: absolute;
  top: 20px;
  left: 0;
  left: 50%;
  text-align: center;
}

.velocityslide .page-contact .powercell-products .powercell-product__header div {
  white-space: nowrap;
  position: relative;
  margin-left: -100%;
}

.velocityslide .page-contact .powercell-products .powercell-product__header .liseret {
  display: inline-block;
  height: 0.29em;
  width: 100px;
  border-top: 1px solid #998a66;
}

.velocityslide .page-contact .powercell-products .powercell-product__header .liseret-hidden {
  border-top: 0;
}

.velocityslide .page-contact .powercell-products .product {
  display: block;
}

.velocityslide .page-contact .powercell-products .product, .velocityslide .page-contact .powercell-products .product:visited, .velocityslide .page-contact .powercell-products .product:hover, .velocityslide .page-contact .powercell-products .product:active {
  color: #fff;
  text-decoration: none;
}

.velocityslide .page-contact .powercell-products .product-role, .velocityslide .page-contact .powercell-products .product-time {
  font-size: 0.75em;
  color: #998a66;
}

.velocityslide .page-contact .powercell-products .product-role {
  display: inline-block;
}

.velocityslide .page-contact .powercell-products .product-time {
  display: block;
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
}

.velocityslide .page-contact .powercell-products .product-role {
  text-transform: uppercase;
}

.velocityslide .page-contact .powercell-products .product-image {
  display: block;
}

.velocityslide .page-contact .powercell-products .product-name {
  padding-top: 435px;
  font-size: 0.625em;
  text-transform: uppercase;
}
@media only screen and (max-width: 640px) {

  .velocityslide .page-contact .powercell-products .product-name {
    padding-top: 175px;
  }
}

@media only screen and (max-height: 670px) {

  .velocityslide .page-contact .powercell-products .product-name {
    padding-top: 175px;
  }
}

.velocityslide .page-contact .powercell-products .buy-button {
  display: inline-block;
  margin: 15px 10px 10px;
}

.velocityslide .page-contact .powercell-lotion, .velocityslide .page-contact .powercell-eyecare {
  background-image: url("../img/slide5/night-day.png");
}

.velocityslide .page-contact .powercell-serum, .velocityslide .page-contact .powercell-cream, .velocityslide .page-contact .powercell-mask, .velocityslide .page-contact .powercell-fundation {
  background-image: url("../img/slide5/day.png");
}

.velocityslide .page-contact .powercell-slinkrehab {
  background-image: url("../img/slide5/night.png");
}

.velocityslide .page-contact .powercell-lotion {
  min-width: 93px;
}

.velocityslide .page-contact .powercell-lotion img {
  margin-left: -46.5px;
}
@media only screen and (max-width: 640px) {

  .velocityslide .page-contact .powercell-lotion img {
    max-height: 170px;
    margin-left: -16.5px;
  }
}

@media only screen and (max-height: 670px) {

  .velocityslide .page-contact .powercell-lotion img {
    max-height: 170px;
    margin-left: -16.5px;
  }
}

.velocityslide .page-contact .powercell-serum {
  min-width: 98px;
}

.velocityslide .page-contact .powercell-serum img {
  margin-left: -49px;
}

@media only screen and (max-width: 640px) {

  .velocityslide .page-contact .powercell-serum img {
    max-height: 170px;
    margin-left: -17.5px;
  }
}

@media only screen and (max-height: 670px) {

  .velocityslide .page-contact .powercell-serum img {
    max-height: 170px;
    margin-left: -17.5px;
  }
}

.velocityslide .page-contact .powercell-cream {
  min-width: 154px;
}

.velocityslide .page-contact .powercell-cream img {
  margin-left: -77px;
}

@media only screen and (max-width: 640px) {

  .velocityslide .page-contact .powercell-cream img {
    max-height: 95px;
    margin-left: -29.5px;
  }
}

@media only screen and (max-height: 670px) {

  .velocityslide .page-contact .powercell-cream img {
    max-height: 95px;
    margin-left: -29.5px;
  }
}

.velocityslide .page-contact .powercell-slinkrehab {
  min-width: 99px;
}

.velocityslide .page-contact .powercell-slinkrehab img {
  margin-left: -49.5px;
}

@media only screen and (max-width: 640px) {

  .velocityslide .page-contact .powercell-slinkrehab img {
    max-height: 170px;
    margin-left: -19.5px;
  }
}

@media only screen and (max-height: 670px) {

  .velocityslide .page-contact .powercell-slinkrehab img {
    max-height: 170px;
    margin-left: -19.5px;
  }
}

.velocityslide .page-contact .powercell-eyecare {
  min-width: 56px;
}

.velocityslide .page-contact .powercell-eyecare img {
  margin-left: -28px;
}

@media only screen and (max-width: 640px) {

  .velocityslide .page-contact .powercell-eyecare img {
    max-height: 170px;
    margin-left: -12px;
  }
}
@media only screen and (max-height: 670px) {

  .velocityslide .page-contact .powercell-eyecare img {
    max-height: 170px;
    margin-left: -12px;
  }
}

.velocityslide .page-contact .powercell-mask {
  min-width: 106px;
}

.velocityslide .page-contact .powercell-mask img {
  margin-left: -53px;
}

@media only screen and (max-width: 640px) {

  .velocityslide .page-contact .powercell-mask img {
    max-height: 150px;
    margin-left: -22px;
  }
}

@media only screen and (max-height: 670px) {

  .velocityslide .page-contact .powercell-mask img {
    max-height: 150px;
    margin-left: -22px;
  }
}

.velocityslide .page-contact .powercell-fundation {
  min-width: 97px;
}

.velocityslide .page-contact .powercell-fundation img {
  margin-left: -48.5px;
}

@media only screen and (max-width: 640px) {

  .velocityslide .page-contact .powercell-fundation img {
    max-height: 150px;
    margin-left: -22px;
  }
}

@media only screen and (max-height: 670px) {

  .velocityslide .page-contact .powercell-fundation img {
    max-height: 150px;
    margin-left: -22px;
  }
}
